.container {
    width: 550px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 24px 38px 3px rgba(0,0,0,0.14) , 0px 9px 46px 8px rgba(0,0,0,0.12) , 0px 11px 15px -7px rgba(0,0,0,0.2) ;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #ddd;
}

.logo {
    width: auto;
    height: 70px;
}
  
nav .nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
  
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}
  
nav button {
    padding: 8px 16px;
    background-color: white;
    color: black;
    border: 1px solid;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
}

/* content section */
.center {
    text-align: center;
    padding: 20px;
}

.content {
    padding: 10px;
    line-height: 1.2;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 18px;
    text-align: center;
}

.click {
    border: 1px;
    border-radius: 10px;
    background-color: DeepSkyBlue;
    color: white;
    font-size: 18px;
    padding: 8px 20px;
}

.click-one {
    font-size: 18px;
    padding: 8px 20px;
    border: 1px solid lightgray;
    background-color: white;
    color: black;
    border-radius: 10px;
}

h2 {
    font-weight: bold;
    font-size: 22px;
}